/common/common_lib/target/
/common/compiler/target/
/common/avr_assembler/target/
/common/avr_codegen/target/
/platform/avr/codegen/target/
/platform/pic/codegen/target/
/platform/stm8/codegen/target/
*.hex
*.lst
*.map
/common/compiler/target/
/common/stub_codegen/target/
bin/j8bc.exe
bin/j8bc
bin/avrasm.exe
bin/avrasm
