#
# Copyright 2025 konstantin@5277.ru
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#class.method path.function regs
#regs: reg,reg,reg,...(reg: 16-31.16-31....)
#features: feature,feature,...
#RowFormat:Class.Method [cgfunc|]AsmFilePathThrowsDot:FunctionLabel:regs[:dirtyRegs] [OSFeatures]
#cgfunc - использование реализации CodeGenerator'а(только для констант)
#dirtyRegs - регистры через запятую, не используемые в результате и аргументах, изменяемые в вызываемом коде (для сохранения на уровне вызывающего)

#Внимательно с пробелами - используются как разделители блоков

#Поддерживаются массивы - для любого массива компилятор сгенерирует short(2 байта) указывающие на начало данных массива и short(2 байта) его длины
#в сигнатуре метода длина должна идти следующим аргументом после массива)

#TODO вызывающая функция портит регистры которые используются для передачи аргументов - это ее зона ответственности,
# но кроме этого вызываемая функция так-же может портить другие регистры (не восстанавливая их), имеет постфикс _nr
# для таких функций нужно ввести еще один набор параметров - указывающий какие еще регистры нужно сохранять при вызове и восстанавливать при возвращении.

### ОБЯЗАТЕЛЬНЫЙ ФУНКЦИОНАЛ ###

####rtos.system
	System.out(cstr)				stdio.out_cstr.asm:os_out_cstr:16.17			os_ft_stdout
	System.out(byte)				stdio.out_num8.asm:os_out_num8:16				os_ft_stdout
	System.out(char)				stdio.out_char.asm:os_out_char:16				os_ft_stdout
	System.out(short)				stdio.out_num16.asm:os_out_num16:16.17			os_ft_stdout
	System.out(int)					stdio.out_num32.asm:os_out_num32:16.17.18.19	os_ft_stdout
	System.out(fixed)				stdio.out_q7n8.asm:os_out_q7n8:16.17			os_ft_stdout
	System.out(bool)				stdio.out_bool.asm:os_out_bool:16				os_ft_stdout
    System.out(exception)			j8b.etrace_out.asm:j8bproc_etrace_out			os_ft_stdout
	System.outHex(byte)             stdio.out_hex8.asm:os_out_hex8:16               os_ft_stdout
	System.outHex(short)            stdio.out_hex16.asm:os_out_hex16:16.17          os_ft_stdout
	System.outHex(int)              stdio.out_hex32.asm:os_out_hex32:16.17.18.19    os_ft_stdout
    System.outHex(array,short)      stdio.out_bytes.asm:os_out_bytes:26.27,16.17    os_ft_stdout
	System.hasInput()				j8b.stdin_has.asm:j8bproc_stdin_has				os_ft_stdin
	System.in()						j8b.stdin_read.asm:j8bproc_stdin_read			os_ft_stdin
	System.in(short)				j8b.stdin_readw.asm:j8bproc_stdin_readw:16.17	os_ft_stdin
	#
	System.fill(array,short,byte)   mem.ram_fill16.asm:ram_fill16:26.27,16.17,18
	#
	System.uptimeUs()			    core.uptime_us.asm:os_uptime_us			        os_ft_ustimer
	System.uptimeMs()			    j8b.uptime_ms.asm:j8bproc_uptime_ms				os_ft_timer
	System.uptimeS()			    j8b.uptime_s.asm:j8bproc_uptime_s				os_ft_timer
	System.uptimeShr8()				j8b.uptime_shr8.asm:j8bproc_uptime_shr8			os_ft_timer
	#
	System.random()					sys.prnd.asm:os_prnd							os_ft_prnd
	#
	System.showDRAMMap()			dmem.dram_showmap.asm:os_dram_showmap
	#
	System.reset()					sys.mcu_reset.asm:mcu_reset
	System.halt()					sys.mcu_halt.asm:mcu_halt

####rtos.thread
	# Нативные методы интерфейса, без аргументов, но ожидают ссылку вызывающего
	Thread.start(this)				core.dispatcher.asm:os_task_start_nr:16.17		#this передается не явно, на верхнем уровне этот аргумент указывать не нужно
	Thread.stop(this)				core.dispatcher.asm:os_task_stop_nr:16.17
	Thread.isAlive(this)			core.dispatcher.asm:os_task_is_alive:16.17		#Нет запроса на останов
	Thread.isStopped(this)			core.dispatcher.asm:os_task_is_stopped:16.17	#Нить завершила свою работу
	# Статические методы интерфейса
	Thread.sleep()					core.wait.asm:os_wait
	Thread.sleepSeconds(short)		core.wait_s.asm:os_wait_s:16.17
	Thread.sleep(short)				core.wait_ms.asm:os_wait_ms:16.17

####rtos.Timer
	# Нативные методы интерфейса, без аргументов, но ожидают ссылку вызывающего
	Timer.start(this,short)			core.dispatcher.asm:os_timer_start_nr:16.17,18.19	#this передается не явно, на верхнем уровне этот аргумент указывать не нужно
	Timer.stop(this)				core.dispatcher.asm:os_task_stop_nr:16.17
	Timer.isAlive(this)			    core.dispatcher.asm:os_task_is_alive:16.17		#Нет запроса на останов
	Timer.isStopped(this)			core.dispatcher.asm:os_task_is_stopped:16.17	#Нить завершила свою работу

####hal.gpio
	GPIO.setHi(byte)				pin_hi|io.pin_set_hi.asm:pin_set_hi:16
	GPIO.setLo(byte)				pin_lo|io.pin_set_lo.asm:pin_set_lo:16
	GPIO.get(byte)                  pin_get|io.pin_get.asm:pin_get:16
	GPIO.setPort(byte,byte)			port_set_state|io.port_set.asm:port_set:16,17
	GPIO.invert(byte)				pin_invert|io.pin_invert.asm:pin_invert:16
	GPIO.modeOut(byte)				pin_out|io.pin_mode_out.asm:pin_mode_out:16
	GPIO.modeIn(byte)				pin_in|io.pin_mode_in.asm:pin_mode_in:16
	GPIO.setPortMode(byte,byte)		port_set_mode|io.port_mode.asm:port_mode:16,17
####hal.dispatcher
    RTOSDispatcher.lock()           dispatcher_lock|
    RTOSDispatcher.unlock()         dispatcher_unlock|

###lang.Math
    Math.reflect(byte)          	math.reflect.asm:os_reflect:16
    Math.crc8(array,short,byte,byte,byte,byte) math.crc8.asm:os_crc8_nr:26.27,24.25,17,18,19,16
    Math.crc8(array,short) 			math.crc8smbus.asm:os_crc8_smbus_nr:26.27,16.17

###lang.Primitive
    Primitive.rawToFixed(byte,byte) null:null:16,17
    Primitive.rawToShort(byte,byte) null:null:16,17
    Primitive.rawToInt(byte,byte,byte,byte) null:null:16,17,18,19

### РАСШИРЕННЫЙ, НЕ ОБЯЗАТЕЛЬНЫЙ ФУНКЦИОНАЛ ###
# Если вызываемый нативный метод будет здесь отсутствовать, то компилятор сформирует исключение NativeException.NOT_SUPPORTED и заменит этот вызов на блок содержимого блока catch


